@import 'tailwindcss';

@theme {
  /* الألوان الرئيسية المستخرجة من الصورة */
  --color-regal-purple: #c800ff;
  --color-cyber-cyan: #00d1ff;
  --color-deep-space: var(--bg-main);
  --color-surface: var(--bg-surface);
  
  --color-text-main: var(--text-main);
  --color-text-dim: var(--text-dim);
}

:root {
  --bg-main: #f8fafc;
  --bg-surface: #ffffff;
  --text-main: #0f172a;
  --text-dim: #64748b;
}

.dark {
  --bg-main: #070114;     
  --bg-surface: #110022;  
  --text-main: #ffffff;
  --text-dim: #b7b7c9;
}
body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: background-color 0.5s ease, color 0.5s ease;
  min-height: 100vh;
}
@theme {
  /* تعريف الفونت الجديد */
  --font-main: "Readex Pro", sans-serif;
  
  /* بقية الألوان اللي عملناها قبل كدة */
  --color-regal-purple: #c800ff;
  --color-cyber-cyan: #00d1ff;
}


body {
  font-family: var(--font-main);
}
[dir="rtl"] {
  line-height: 1.8;   
  letter-spacing: 0;   

}
[dir="rtl"] h1, [dir="rtl"] h2 {
  font-weight: 700;
}